[submodule "Firmware"]
	path = Firmware
	url = https://github.com/acsl-mipt/Firmware
	branch = 1.4
[submodule "sitl_gazebo"]
	path = sitl_gazebo
	url = https://github.com/acsl-mipt/sitl_gazebo
	branch = 1.4
