<launch>
	<arg name="log_output" default="screen" />

	<node pkg="mavros" type="mavros_node" name="mavros$(arg num)" required="true" clear_params="true" output="$(arg log_output)">
		<param name="fcu_url" value="udp://127.0.0.1:$(arg inport)@127.0.0.1:$(arg outport)" />
		<param name="gcs_url" value="" />
		<param name="system_id" value="$(arg num)" />
		<param name="target_system_id" value="$(arg num)" />
		<param name="target_component_id" value="1" />

                <!-- remap mavlink bridge topics -->
                <remap from="/mavlink/to" to="/mavlink$(arg num)/to" />
                <remap from="/mavlink/from" to="/mavlink$(arg num)/from" />
                <remap from="/tf" to="/tf_$(arg num)" />
                <remap from="/tf_static" to="/tf_static_$(arg num)" />

		<!-- load blacklist, config -->
		<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml" />
		<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
	</node>
</launch>
